<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="init" default-destroy-method="destroy">

    <bean id="patient" class="com.babor.spring.Patient" scope="singleton" init-method="onCreate" destroy-method="onDestroy"
          c:id="5"
          c:name="babor"
    >
        <property name="emergencyContactNames">
            <list>
                <value>Nadim</value>
                <value>Radia</value>
                <value>Nafisa</value>
                <value>Siddiqua</value>
                <value>Siddiqua</value>
            </list>
        </property>
    </bean>

</beans>